/* importing googleapis cdn for Montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 15px;
  background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
  background-position: 100% 0%, 0% 100%;
  background-size: 30% 80%, 30% 50%;
  background-repeat: no-repeat, no-repeat;
  background-color: hsl(240, 78%, 98%);
}

p {
  margin: 5px;
}

/* Headings */
h2 {
  text-align: center;
  margin-top: 50px;
}

h4 {
  margin-top: 5px;
  margin-bottom: 0px;
}

/* Toggle button */
.container .toggle-button {
  background-color: rgba(132, 87, 173, 0.678);
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  margin: 10px 20px 10px 20px;
}

.container .toggle-button::before {
  position: absolute;
  content: "";
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 18px;
  margin: 3px;
  transition: 0.3s;
}

.container input:checked + .toggle-button {
  background-color: rgb(190, 174, 206);
}

.container input:checked + .toggle-button::before {
  transform: translateX(30px);
}

.container input {
  display: none;
}

.annual-monthly {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
  margin-bottom: 40px;
}

.inner-container {
  display: flex;
  justify-content: center;
}

/* Basic */
.basic {
  width: 250px;
  height: 340px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 4px rgb(114, 102, 102);
}

.basic p {
  border-bottom: 1px solid rgb(226, 217, 217);
}

/* Professional */
.professional {
  width: 270px;
  min-height: 360px;
  background: linear-gradient(
    to bottom right,
    rgb(189, 184, 184),
    rgba(139, 35, 160, 0.678)
  );
  text-align: center;
  border-radius: 5px;
  color: white;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.professional p {
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
}

/* Master */
.master {
  width: 250px;
  height: 340px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 4px rgb(114, 102, 102);
}

.master p {
  border-bottom: 1px solid rgb(226, 217, 217);
}

/* dollar price */
.price {
  font-size: xx-large;
}

.price span {
  font-size: smaller;
  margin-right: 5px;
}

/* common */
.common {
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
}

/* buttons */
button {
  border-radius: 5px;
  border: none;
}

.btn-lighter {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-top: 10px;
  color: rgba(132, 87, 173, 0.678);
  font-family: Montserrat;
  font-weight: 700;
  position: relative;
}

.btn-purple {
  background: linear-gradient(
    to right,
    rgb(189, 184, 184),
    rgba(139, 35, 160, 0.678)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-top: 10px;
  color: white;
  font-family: Montserrat;
  font-weight: 700;
  position: relative;
}

/* Hovering the buttons */

.btn-lighter:hover {
  color: white;
  border: 1px solid white;
  background: linear-gradient(
    to bottom right,
    rgb(189, 184, 184),
    rgba(139, 35, 160, 0.678)
  );
}

.btn-purple:hover {
  color: blueviolet;
  border: 1px solid blueviolet;
  background: white;
}

/* For mobile view */
@media (max-width: 500px) {
  body {
    background-image: url("./images/bg-top.svg");
    background-position: 150% -20%;
    background-repeat: no-repeat;
    background-size: 50% 80%;
  }

  .annual-monthly {
    margin-bottom: 50px;
  }
  .inner-container {
    display: flex;
    flex-direction: column;
  }

  .professional {
    justify-self: center;
    align-self: center;
  }

  .basic,
  .professional,
  .master {
    width: 80%;
    margin-bottom: 20px;
  }
}
